@charset "utf-8";
/* CSS Document */

@media only screen and (max-width: 800px) {

	.badges {
		min-height: 400px !important;
	}

}

@media only screen and (max-width: 1024px) {

	.badges {
		min-height: 400px !important;
	}

}

@media only screen and (max-width: 1200px) {

	.badges {
		min-height: 500px !important;
	}

}

@media only screen and (max-width: 1440px) {

	.badges {
		min-height: 590px !important;
	}

}

@media only screen and (max-width: 1920px) {

	.badges {
		min-height: 690px !important;
	}

}

.badges .title {
	margin: 0 10px 16px 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-size: 26px;
	font-weight: 200;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-bottom: 1px rgba(201,201,201,1.00) solid;
}

.badges .b33-badge {
	margin-bottom: 50px;
}

.badges .b33-badge .inner-b33 {
	border-radius: 8px;
	height: 200px;
	margin: 10px;
}

.badges .b33-badge .bg1 {
	background: url(../img/badges/bg1.jpg) no-repeat;
	background-size: cover;
}

.badges .b33-badge .bg2 {
	background: url(../img/badges/bg2.jpg) no-repeat;
	background-size: cover;
}

.badges .b33-badge .bg3 {
	background: url(../img/badges/bg3.jpg) no-repeat;
	background-size: cover;
}

.badges .b33-badge .bg4 {
	background: url(../img/badges/bg4.jpg) no-repeat;
	background-size: cover;
}

.badges .b33-badge .bg5 {
	background: url(../img/badges/bg5.jpg) no-repeat;
	background-size: cover;
}

.badges .b33-badge .bg6 {
	background: url(../img/badges/bg6.jpg) no-repeat;
	background-size: cover;
}

.badges .inner-b33 .h1,
.badges .inner-b33 .h3,
.badges .inner-b33 .h4 {
	margin: 0;
	padding: 0;
	color: #fff;
	text-align: center;
}

.badges .inner-b33 .h1 {
	font-size: 96px !important;
	margin-bottom: 10px;
	line-height: 122px;
}

.badges .inner-b33 .h3 {
	font-size: 48px !important;
	margin-bottom: 10px;
	line-height: 122px;
}

.badges .inner-b33 .h4 {
	font-size: 18px;
	margin-top: 20px;
	text-transform: uppercase;
}