@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');

/* font-family: 'Barlow', sans-serif; */

body {
	background: #fff;
}

.wrapper {
	height: 100%;
	min-height: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.wrapper div {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 450px;
	height: auto;
}

.wrapper div h4 {
	text-align: center;
	margin: 50px auto;
	font-family: 'Barlow', sans-serif;
	font-size: 32px;
	text-transform: uppercase;
	font-weight: 700;
	color: #000;
}